body
	{
		background:url(30.jpg);
		background-repeat:no-repeat;
		background-attachment: fixed;
  		background-size: cover;
  		font-family: 'Roboto', sans-serif;
	}
ul
	{
		float: right;
		list-style-type: none;
	}
ul li
	{
		display: inline-block;
	}
ul li a
	{
		font-family: century gothic;
		text-decoration: none;
		color:	#2e4045;
		padding: 5px 20px;
		border: 1px solid transparent;
		transition: 0.6s ease;
	}
ul li a:hover
	{
		background-color: white;
		color: 	#5e3c58;
		
	}
ul li.active a
	{
		background-color: white;
		color: #5e3c58;
	}
.logo img
	{
		float: left;
		width: 120px;
		height: auto;
	}
.main
	{
		max-width: 1200px;
	}
.title
	{
		position: absolute;
		left: 50%;
		top: 40%;
	}
h1
	{
		color:#5e3c58;
		background-color: none;
		font-family: 'Bungee', cursive;
		float: left;
		font-size: 30px;

	}
h2
	{
		text-align: left;
		color: black;
		font-size: 28px;
		font-family: 'Bungee', cursive;
	}
h3
	{
		color: #5e3c58;
		font-family: 'Roboto', sans-serif;
		background-color: lightgrey;
	}
.container
	{	
		max-width: 1200px;
		margin: auto;
		background:lightgrey;
		overflow: auto;
		background: rgba(200,200,200,.5);
		
	}
.gallery
	{
		margin: 4px;
		border: 1px solid #ccc;
		float: left;
		width: 390px;
	}
.gallery img
	{
		width: 390px;
		height:300px;
	}

